* {
    margin: 0;
    padding: 0;
}

.calendar-days {
    overflow: scroll;
    white-space: nowrap;
    position: relative;
}

.month {
    display: inline-block;
    text-align: center;
}

.day {
    display: inline-block;
    text-align: center;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.day__text {
    padding-top: 10px;
    box-sizing: border-box;
    border: 1px solid #d0d0d0;
    border-top: none;
    border-right: none;
}

.month:last-of-type .day:last-child .day__text {
    border-right: 1px solid #d0d0d0;
}

.day.day--today .day__text {
    background-color: #5f5f5f;
    color: white;
    box-sizing: padding-box;
    border: none;
}

.day.day--today {
    border-left: 1px solid black;
}

.day.day--weekends {
    background-color: #ecebec;
}

.day:nth-of-type(even) {
    background-color: #f2f2f2;
}

.normal-text {
    font-size: 11px;
}

.month__text {
    border: 1px solid #d0d0d0;
    border-right: none;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.month__text:last-of-type {
    border-right: 1px solid #d0d0d0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.planned {
    display: inline-block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.planned--start {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid black;
}

.planned--end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid black;
}

.predicted {
    height: 5px;
    position: absolute;
    background-image: url(dot-20x20.svg);
}

.predicted--early {
    background-image: url(dot-blue-20x20.svg);
}

.predicted--late {
    background-image: url(dot-yellow-20x20.svg);
}

.target {
    position: absolute;
    border: 1px dashed #25a84a;
    border-right-width: 0;
    border-left-width: 0;
    box-sizing: border-box;
}

.target--late {
    border-color: orange;
}

.actual {
    position: absolute;
    border: 1px solid #25a84a;
    border-right-width: 0;
    border-left-width: 0;
    box-sizing: border-box;
}

.actual--late {
    border-color: #df908e;
}

.actual--early {
    border-color: #63abdf;
}

.object-wrapper {
    position: absolute;
    left: 0;
    right: 0;
}

.cell-inner {
    display: flex;
    align-items: center;
}
.first-line {
    position: relative;
}

.second-line {
    position: relative;
}
.has-border-left {
    border-left-width: 1px;
}

.has-border-right {
    border-right-width: 1px;
}

.object-group {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.worklog {
    position: absolute;
}

.worklog--early {
    background-color: #6cd6ff;
}

.worklog--normal {
    background-color: #7cc36c;
}

.worklog--late {
    background-color: #f4bab9;
}

.cell {
    position: absolute;
}